<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mld.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F69961C1CC53FBC9F19FC3FDF3F8A790B5038A67</string>
				<key>dateExpires</key>
				<string>2019/8/15</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GVCC7N2J83.com.shumei.Demo</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GVCC7N2J83</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Mld.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8db8124c-6daf-4d73-824a-d8a70b88904f</string>
				<key>name</key>
				<string>ad_hoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GVCC7N2J83</string>
				<key>name</key>
				<string>Xiaojiang Liu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
